# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment directories
env/
venv/
ENV/
*.env/

# VS Code settings
.vscode/

# Distribution/build directories
build/
dist/
*.egg-info/
# Secrets and configuration files
*.env
